<a href="https://colab.research.google.com/github/vinadoti/vinadoti/blob/main/2021_07_30_01_Fundamentos_do_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()
#1 - Fundamentos do Python
## Linguagem de Programação III (Prof. Dr. Henrique Dezani)
Curso de Tecnologia em Informática para Negócios da Faculdade de Tecnologia de São José do Rio Preto

In [ ]:
!python --version

Python 3.7.11

## 1.1. Variáveis

A programação de computadores se baseia basicamente na manipulação de números e textos que, no Python, são chamados de números e strings.

Python 3 possui três representações de números embutidas, quais sejam: `int`, `float` e `complex`. Vejamos como podemos declarar variáveis com estes tipos de dados.

In [ ]:
# # Na linguagem C
# int idade;
# idade = 38;

# int idade = 38;

# idade = 39;
# idade = 'abc';

In [ ]:
idade = 38    # declara a variável 'idade' com o valor inteiro (int)
print(idade)  # função built-in reponsável por escrever na tela.

38

In [ ]:
type(idade)

int

In [ ]:
salario = 752.89 # declara a variável 'salário' com o valor de ponto flutuate (float)
print(salario)

752.89

In [ ]:
type(salario)

float

**Exercício 1**: Armazene em variáveis os valores de seu ano de ingresso na Fatec a sua média final na disciplina de Estatística.

In [ ]:
# digite seu código aqui.
ano_ingresso=2021
media_final=9.5

media_final = 'nove e meio'

print(ano_ingresso)
print(media_final)

2021
nove e meio

## 1.2. Built-in functions

O interpretador Python possui várias funções que estão sempre disponíveis para uso. Essas funções são chamadas de **funções internas (built-in functions)**. Por exemplo, a função `print()` imprime o objeto fornecido no dispositivo de saída padrão (tela). No Python 3.6 existem 68 funções internas.

In [ ]:
# import random # include<stdio.h>
# print(random.randint(0, 10))

1

Vamos supor que seja necessário descobrir os tipos de dados das variáveis declaradas anteriormente. Para tanto, utilizamos a função built-in `type(obj)` , com apenas um parâmetro, a qual retorna o tipo de um objeto.

In [ ]:
type(idade)

int

In [ ]:
type(salario)

float

**Exercício 2**: Mostre os tipos de dados das variáveis que você criou no Exercício 1.

In [ ]:
# digite seu código aqui.
type(media_final)

str

Outras **funções buit-in** permitem realizar a **conversão dos tipos de dados** apresentados anteriormente. Veja os exemplos:

In [ ]:
print(idade)
print(type(idade))

idade_float = float(idade) # converte o valor da variável idade para float
print(idade_float)
print(type(idade_float))

38
<class 'int'>
38.0
<class 'float'>

In [ ]:
print(salario)

752.89

In [ ]:
salario_int = int(salario) # converte o valor da variável salario para int
print(salario_int)

752

In [ ]:
print(0.1 + 0.2)

0.30000000000000004

In [ ]:
round(0.1 + 0.2, 3) == 0.3

True

Além das conversões de tipos de dados, temos diversas **funções built-in** que nos permitem trabalhar com números. Vejamos alguns exemplos:

In [ ]:
salario_arredondado =  round(salario) # arredonda um número para uma dada quantidade de casas decimais (o padrão é zero casa decimal).
print(salario_arredondado)

753

In [ ]:
help(round) # mostra a documentação da função. Utilizado apenas para auxiliar na programação no software.

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
salario_arredondado =  round(salario, 1) # arredonda o número usando 1 casa decimal.
print(salario_arredondado)

752.9

In [ ]:
valor_absoluto = abs(-10) # retorna o valor absoluto de um número.
print(valor_absoluto)

10

In [ ]:
maior_valor = max(1, 7, 10, 3) # retorna o maior valor de uma coleção de números.
print(maior_valor)

10

In [ ]:
menor_valor = min(34, 76, 12, 5, 40)
print(menor_valor)

5

In [ ]:
quadrado = pow(10, 2) # retorna a potência (2) de um número (10).
print(quadrado)

100

In [ ]:
binario = bin(9) # retorna o valor binário de um número inteiro.
print(binario)
type(binario);

0b1001

In [ ]:
# import matplotlib.pyplot as plt
# dados = [1, 2, 3, 4, 5]
# plt.plot(dados);

## 1.3. Comandos de Entrada e Saída
Os comandos de entrada e saída permitem que possamos interagir com o programa, recebendo *feedback* dos resultados computados ou realizando a entrada de dados para o sistema. Ambos os comandos consistem em funções built-in, quais seja: `print()`, vista anteriormente, e `input('texto do prompt')` para entrada de dados. Vejamos um exemplo.

In [ ]:
input()

Henrique Dezani

'Henrique Dezani'

In [ ]:
nome = input('Digite o seu nome: ') # apresenta um elemento para entrada de dados com o label escrito como argumento.
print('Olá, ' + nome)

Digite o seu nome: Ana
Olá, Ana

In [ ]:
type(nome) # toda entrada de dados obtida pela função built-in input() é uma string!

str

Portanto, se quisermos obter um número (inteiro ou ponto flutuante) digitado por um usuário, devemos receber a string da função built-in `input()` e, em seguida, realizar as conversões necessárias, utilizando as funções built-in `int()` ou `float()`. Veja o exemplo a seguir:

In [ ]:
# idade_str = input('Qual a sua idade? ')
# idade_int = int(idade_str)
# print(idade_str)
# print(idade_int)

idade = int(input('Qual a sua idade? '))

Qual a sua idade? 40
40
40

In [ ]:
type(idade_str)

str

In [ ]:
type(idade_int)

int

**Para pensar**: E se o valor informado pelo usuário não for um número inteiro? Ou seja, e se o usuário digitou a letra a? Neste caso, uma exceção (erro) será disparada. Em aulas futuras estudaremos como tratar as exceções.

In [ ]:
numero = input('Digite um número: ')
numero = int(numero)
print(numero + 1)

Digite um número: a

ValueError: ignored

**Exerício 3**: Refaça o Exercício 1 de maneira que os dados sejam informados pelo usuário.

In [ ]:
# digite seu código aqui.

##1.4 Operações Aritméticas
Para realizar as operações aritméticas, utilizamos os símbolos + (soma), - (subtração), * (multiplicação) e / (divisão).
É importante lembrar que temos a precedência das operações () /* +-

In [ ]:
numero1 = int(input('Digite o primeiro número'))
numero2 = int(input('Digite o segundo número'))

soma = numero1 + numero2
print(soma)

subtracao = numero1 - numero2
print(subtracao)

multiplicacao = numero1 * numero2
print(multiplicacao)

divisao = numero1 / numero2
print(divisao)

divisao_inteira = numero1 // numero2
print(divisao_inteira)

modulo = numero1 % numero2
print(modulo)               # 0 número par, 1 número ímpar

potencia = numero1 ** numero2
print(potencia)

Digite o primeiro número7
Digite o segundo número2
9
5
14
3.5
3
1
49

## 1.5. O Poder do Print (versão 3.6)

In [ ]:
print('Olá')

Olá

In [ ]:
nome = "Henrique"
sobrenome = 'Dezani'

print("Olá, " + nome + " " + sobrenome) # concatenação

Olá, Henrique Dezani

In [ ]:
print("Olá, " + nome + " " + sobrenome + ", tudo bem?") # concatenação

Olá, Henrique Dezani, tudo bem?

In [ ]:
print(nome, sobrenome)

Henrique Dezani

In [ ]:
print("Olá, ", nome, ' ',sobrenome, ", tudo bem?", sep='') # concatenação

Olá, Henrique Dezani, tudo bem?

In [ ]:
print("Olá, {}, tudo bem?".format(nome)) #interpolação

Olá, Henrique, tudo bem?

In [ ]:
print("Olá, {} {} {}, tudo bem?".format(nome, sobrenome, nome)) #interpolação de duas variáveis

Olá, Henrique Dezani Henrique, tudo bem?

In [ ]:
print("Olá, {0} {1} {0}, tudo bem?".format(nome, sobrenome)) # interpolação, passando os índices

Olá, Henrique Dezani Henrique, tudo bem?

In [ ]:
print(f'Olá, {nome} {sobrenome}, tudo bem?')

Olá, Henrique Dezani, tudo bem?

In [ ]:
print('Hello', end=' ')
print('World')

Hello World

In [ ]:
print("Olá", end=' ') # define o caracter final (padrão '\n')
print("Mundo")
print("Novo")

Olá Mundo
Novo

In [ ]:
numero_float = 3.2353523
print("{0:.2f}".format(numero_float)) # formata a saída float com 2 casas decimais.

3.24

In [ ]:
print(f"{salario:.1f}")

752.9

## 1.6. Exercícios

### 1.6.1. Exercício 1: Implemente um programa que leia um número inteiro e mostre seu sucessor e seu antecessor.

### 1.6.2. Exercício 2: Implemente um programa que leia um número inteiro e mostre seu dobro e seu triplo.

### 1.6.3. Exercício 3: Implemente um programa que leia 4 notas de um aluno e mostre a média aritmética.

### 1.6.4. Exercício 4: Implemente um programa que leia um valor em metros e mostre seu valor em centímetros e em milímetros.

### 1.6.5. Exercício 5: Implemente um programa que tenha como entrada o valor em uma reais e mostre o valor correspondente em dólar.

### 1.6.6. Exercício 6: Supondo que queremos pintar o muro da instituição, faça um programa que leia a altura e a largura do muro e mostre a quantidade de tinta necessária (1 litro de tinta pode pintar uma área de 2 metros quadrados).

### 1.6.7. Exercício 7: Faça um programa que leia o preço de um produto e mostre o valor com 5% de desconto.